name: Deploy blog to Cloudflare Workers

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout blog
        uses: actions/checkout@v4
      - name: Checkout blog-posts
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/blog-posts
          # Use the GITHUB_TOKEN to access the private repo
          # Needs "contents: read" permission set above
          token: ${{ secrets.GH_TOKEN_FOR_POSTS }}
          path: ./posts
      - uses: actions/cache@v5
        with:
          path: _cache
          key: deno-lume-cache-${{ github.run_id }}
          restore-keys: |
            deno-lume-cache-
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          cache: true
      - run: deno task deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          DENO_ENV: production
